html,
body {
  border: 0;
  margin: 0;
  height: 100%;
}

.page-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.page-content {
  margin: auto;
  text-align: center;
}

#pwd-form {
  width: 100%;
  max-width: 500px;
}

#pwd-form fieldset {
  display: flex;
  flex-flow: column;
}

#pwd-form fieldset input{
  margin: auto;
  width: 300px;
}

